h1, h2,h3,h4,h5,h6{
    margin:0px;
    padding:0px;
}

body{
    height: 100vh;
    margin: 0px;
}

#main-view {
    height: 100%;
    display: grid; 
    grid-template-areas: 
    "nav content content content"
    "nav content content content";
}
aside {
    font-family: 'Gill Sans' ;
    background-color: #1f1f3d;
    grid-area: nav;
}
main{
    grid-area: content;
    display: grid;
    grid-template-areas: 
        "section-1"
        "section-2";
}
.aside-menu__title{
    font-family: 'Gill Sans';
    font-size: 2rem;
    color: #eaeaf4;
}
.aside-menu--padding-regular{
    padding: 10px 20px;
}
.aside-menu--border-bottom-regular{
    border-bottom: 1px solid #eaeaf4;
}
.aside-menu__button {
    font-family: 'Gill Sans';
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    background-color: #A9AAD2;
    border: none;
}
#form-section{
    background-color:#A9AAD2;
    grid-area: "section-1"
}
#idea-section{
    background-color: #eaeaf4;
    grid-area: "section-2";
}
.aside-menu-2__title{
    margin:10px 0px 20px;
    font-weight: 500;
    color: #A9AAD2;
    font-size: 1rem;
}